#tweet{
    width: 70%;
    margin: auto;
}

#btnStreaming{
    float: right;
}

#myForm{
    width: 30%;
    margin: auto;
}

#labelStreaming{
    margin: auto;
    margin-bottom: 30px;
}

#dropdownWords{
    width: 20%;
    margin: auto;
}